@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SatoshiReg;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Regular.otf)
  }
  @font-face {
    font-family: SatoshiBold;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Bold.otf);
  }
  @font-face {
    font-family: SatoshiLight;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Light.otf);
  }
  @font-face {
    font-family: SatoshiMed;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Medium.otf);
  }
  @font-face {
    font-family: SatoshiBlack;
    src: url(/src/assets/fonts/Satoshi_Complete/Fonts/OTF/Satoshi-Black.otf);
  }
  
  .custom-font {
    font-family: SatoshiReg;
  } 
  
  .custom-font-med {
    font-family: SatoshiMed;
  }
  
  .custom-font-bold {
    font-family: SatoshiBold;
  }

  .custom-main{
    background-color: #fcf3f6;
  }

  /* Custom CSS to make icons appear as outlines */
.outline-icon {
  border: 1px solid #000; /* Add a border to create an outline effect */
  border-radius: 4px; /* Optional: Add some border radius for rounded corners */
  padding: 4px; /* Optional: Add padding for spacing */
}

